{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Pratham Ice Cream
        {% endblock %}
    </title>

    <!-- Bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Google Font -->

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- CSS -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    {% include 'components/navbar.html' %}

{% if messages %}

<div id="popup-container">

    {% for message in messages %}

    <div class="popup-message {% if message.tags == 'error' %}popup-error{% elif message.tags == 'warning' %}popup-warning{% elif message.tags == 'info' %}popup-info{% endif %}">

        <div class="popup-icon">

            {% if message.tags == 'error' %}
            <i class="bi bi-x-circle-fill"></i>
            {% elif message.tags == 'warning' %}
            <i class="bi bi-exclamation-triangle-fill"></i>
            {% elif message.tags == 'info' %}
            <i class="bi bi-info-circle-fill"></i>
            {% else %}
            <i class="bi bi-check-circle-fill"></i>
            {% endif %}

        </div>

        <div class="popup-content">

            <h6>
                {% if message.tags == 'error' %}Error
                {% elif message.tags == 'warning' %}Warning
                {% elif message.tags == 'info' %}Info
                {% else %}Success
                {% endif %}
            </h6>

            <p>{{ message }}</p>

        </div>

        <button class="popup-close">

            &times;

        </button>

    </div>

    {% endfor %}

</div>

{% endif %}

    {% block content %}

    {% endblock %}

    {% include 'components/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>