{% extends "base.html" %}

{% block title %}
Checkout
{% endblock %}

{% block content %}

<div class="container mt-5 pt-5">

    <h2 class="mb-4">

        🧾 Order Summary

    </h2>

    <table class="table table-bordered">

        <thead>

            <tr>

                <th>Product</th>

                <th>Price</th>

                <th>Qty</th>

                <th>Total</th>

            </tr>

        </thead>

        <tbody>

            {% for item in items %}

            <tr>

                <td>{{ item.product.name }}</td>

                <td>₹{{ item.product.price }}</td>

                <td>{{ item.quantity }}</td>

                <td>₹{{ item.subtotal }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

    <div class="text-end">

        <h3>

            Grand Total :
            <span class="text-success">

                ₹{{ cart.total }}

            </span>

        </h3>

    </div>

   <form method="POST">

    {% csrf_token %}

    <div class="text-end mt-4">

        <button type="submit"
                class="btn btn-success btn-lg">

            <i class="bi bi-bag-check-fill"></i>
            Confirm Order

        </button>

    </div>

</form>

</div>

{% endblock %}